/* Постоянные клиенты*/

.clients {
    @extend %list;
    @include centered-flex($justify-content: space-between);
    flex-wrap: wrap;
    gap: $indent;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

        &__item {

            @media screen and (max-width:($mobile - 1px)) {
                flex-basis: $flex-basis-item1;
            }

            @media screen and (min-width:$mobile) {
                flex-basis: $flex-basis-item2;
            }

            @media screen and (min-width:$tablet) {
                flex-basis: $flex-basis-item3;
            }
    
            @media screen and (min-width:$desktop) {
                flex-basis: $flex-basis-item6;
            }
    
            @include transition(box-shadow);
        }

    &__link {
        @include centered-flex();
        text-decoration: none;
    
        height: 92px;
    
        color: $clients-primary-color;
    
        border: 1px solid $clients-primary-color;
        border-radius: 4px;
    
        transition: border-color $transition-duration $transition-function,
        color $transition-duration $transition-function;

       }
         
    &__link:hover,
    &__link:focus {
        color: $accent-color;
        border-color: $accent-color;
       }

    &__icon {
        fill: currentColor;
        width: 106px;
        height: 50px;
       }
}