/* Особенности*/

.features {
    @extend %list;
    // @include centered-flex();
    padding-left: 0;

    &__item:not(:last-child) {
        @media screen and (min-width:$desktop) {
                margin-right: 30px;
            }
        }

    &__box {
        @include centered-flex();
        max-width: 270px;
        height: 120px;
        margin-bottom: 30px;
        background-color: $second-grey-color;
        border-radius: 4px;

        @media screen and (min-width:$desktop) {
                width: 270px;
                margin-bottom: 30px;
            }

             }
    &__icon {
        width: 70px;
        height: 70px;
    }

    &__title {
        color: $title-text-color;
    
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16.41 / 14);
        text-transform: uppercase;
    
        margin-bottom: 10px;
    }
    
    &__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    }
}

