/* Герой */
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: $primary-bg-color;
    /*линейный градиент, под ним изображение*/
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero480@1x-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 118px 0;

    //    Закрепленный хэдэр
    @media screen and (min-width:$tablet) {
            margin-top: 80px;
        }
    //    Закрепленный хэдэр    

    @media screen and (min-width:$desktop) {
            padding: 200px 0;
        }

    &__box {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width:$desktop) {
                max-width: 696px;
            }
    }   

    &__title {
            color: $primary-white-color;
    
            font-weight: 900;
            font-size: 20px;
            line-height: calc(30 / 20);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 30px;

            @media screen and (min-width:$mobile) {
            font-size: 26px;
            line-height: calc(42 / 26);
            }

            @media screen and (min-width:$desktop) {
            font-size: 44px;
            line-height: calc(60 / 44);
            }
        }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero480@2x-min.jpg');
    }
}


@media screen and (min-width:($mobile + 1px)) and (max-width:($tablet)) {
  .hero {
        background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url('../images/hero768@1x-min.jpg');
        }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero768@2x-min.jpg');
    }
}    
}

@media screen and (min-width:($tablet + 1px)) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero1200@1x-min.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/hero1200@2x-min.jpg');
        }
    }
}