/* Герой */
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: $primary-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 118px 0;

    /*линейный градиент, под ним изображение*/

    // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //     url('../images/hero480@1x-min.jpg');

    //    @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //             background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    //                 url('../images/hero480@2x-min.jpg');
    //      }

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        image-set( 
            url('../images/hero480@2x-min.jpg') 2x,
            url('../images/hero480@1x-min.jpg') 1x
        );
          
                @include media-query(tablet) {
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    image-set(
                        url('../images/hero768@2x-min.jpg') 2x,
                        url('../images/hero768@1x-min.jpg') 1x);
                }

                @include media-query(desktop) {
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    image-set(
                        url('../images/hero1200@2x-min.jpg') 2x,
                        url('../images/hero1200@1x-min.jpg') 1x);
                }
   

    //    Закрепленный хэдэр
        @include media-query(tablet) {
            margin-top: 80px;
        }
    //    Закрепленный хэдэр    

        @include media-query(desktop) {
            padding: 200px 0;
        }

    &__box {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;

        @include media-query(desktop) {
                max-width: 696px;
            }
    }   

    &__title {
            color: $primary-white-color;
    
            font-weight: 900;
            font-size: 20px;
            line-height: calc(30 / 20);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 30px;

            @include media-query(mobile) {
            font-size: 26px;
            line-height: calc(42 / 26);
            letter-spacing: 0.06em;
            }

            @include media-query(desktop) {
            font-size: 44px;
            line-height: calc(60 / 44);
            }
        }
}




// @media screen and (min-width:($mobile + 1px)) and (max-width:($tablet)) {
//   .hero {
//         background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//          url('../images/hero768@1x-min.jpg');
//         }

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .hero {
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('../images/hero768@2x-min.jpg');
//     }
// }    
// }

// @media screen and (min-width:($tablet + 1px)) {
//     .hero {
//         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//             url('../images/hero1200@1x-min.jpg');
//     }

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//         .hero {
//             background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//                 url('../images/hero1200@2x-min.jpg');
//         }
//     }
// }