/* Чем мы занимаемся */

.work {

       background-image: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
        animation: gradient 15s ease infinite;
        background-size: 400% 400%;

    @include media-query(desktop-less){
        display: none;
    }
   
    &__list {
    @extend %list;
    @include centered-flex($justify-content: space-between);
    padding-left: 0;
        }

    &__item:not(:last-child) {
    margin-right: 30px;
        }

   &__box {
    position: relative;
        }

    &__text {
        position: absolute;
        bottom: 0;
        width: 100%;
    
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16.41 / 14);
        color: $primary-white-color;
        background-color: $work-text-bg-color;
    
        padding-top: 27px;
        padding-bottom: 27px;
    }

}

