.header-contacts {
    @extend %list;
    display: flex;

        @include media-query(tablet-less) {
            flex-direction: column-reverse;
            gap: 32px;
            margin-bottom: 64px;
        }

        @include media-query(tablet)  {
            flex-direction:column;
            gap: 10px;
        }    

        @include media-query(desktop)  {
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 30px;
        }

    &__item {
    font-weight: 500;
    letter-spacing: 0.02em;

    @include media-query(tablet-only) {
            font-size: 12px;
            line-height: calc(14 / 12);
        }

    }    

    &__item:first-child {

        @include media-query(tablet-less) {
            color: $primary-text-color;
            font-size: 24px;
            line-height: calc(28 / 24);
            }
        }

    &__item:last-child {

        @include media-query(tablet-less) {
            color: $accent-color;
        }

        @include media-query(mobile-less) {
            font-size: 24px;
            line-height: calc(28 / 24);
        }

        @include media-query(mobile-only) {
            font-size: 34px;
            line-height: calc(40 / 34);
        }

        }

    &__link {
    color: currentColor;
    display: flex;
    align-items: center;
    text-decoration: none;

    @include transition();
        }    
    
    &__link:hover,
    &__link:focus {
    color: $accent-color;
        } 
    
    &__icon-mail {
    width: 14px;
    height: 10px;

        @include media-query(desktop) {
            width: 16px;
            height: 12px;
        }
    } 

    &__icon-phone {
    width: 10px;
    height: 14px; 

        @include media-query(desktop) {
             width: 10px;
            height: 16px;
            }
    }

    &__icon-mail,
    &__icon-phone {
    fill: currentColor;
    margin-right: 10px;
        
        @include media-query(tablet-less) {
            display: none;
        }
        }
}

//    Закрепленный хэдэр
.no-transparency .header-contacts {
    @include media-query(tablet) {
            color: $primary-black-color;
            @include transition();
        }
}
//    Закрепленный хэдэр