.page-header {
   border-bottom: 1px solid $header-border-bottom-color;
   position: relative;

    &__content {
        @include centered-flex($justify-content:space-between);
      }  
      
    &__nav {

        @media screen and (max-width:($tablet - 1px)) {
                margin-bottom: 302px;
            }

        @media screen and (min-width:$tablet) {
                @include centered-flex();
            }
      }   
}

  

.menu-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &__svg {
    width: 40px;
    height: 40px;
    fill: $title-text-color;
    }

    &__svg:hover,
    &__svg:focus {
    fill: $accent-color;
        }  

        @media screen and (min-width:$tablet) {
            display: none;
        }   
        
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu{
    display: none;
}

.menu-container {
    background-color: $primary-white-color;

        @media screen and (max-width:calc($tablet - 1px)) {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 999;

            padding: 48px 40px;

        &.is-open {
                display: block;
            }

        }

        @media screen and (min-width:$tablet) {
            @include centered-flex($justify-content: space-between);
            flex-grow: 1;
        }
        
}

