.page-header {
   border-bottom: 1px solid $header-border-bottom-color;
   position: relative;

//    Закрепленный хэдэр
    @include media-query(tablet) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 500;
        border-bottom:0;
    }

    &.no-transparency {
        background-color:  rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
    }
//    Закрепленный хэдэр    

    &__content {
        @include centered-flex($justify-content:space-between);
      }  
      
    &__nav {

        @include media-query(tablet-less) {
                margin-bottom: auto;
            }

        @include media-query(tablet)  {
                @include centered-flex();
            }
      }   
}
