.about {
    @media screen and (max-width:($tablet - 1px)) {
            margin-bottom: 60px;
        }

    @media screen and (min-width:$tablet) {
            margin-right: 165px;
        }        

    @media screen and (min-width:$desktop) {
            margin-right: 70px;
        }
    
}

.footer-contacts {
  @extend %list;
  margin-top: 20px;

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__link {
        color: $contacts-ft-color;
        font-style: normal;
        line-height: calc(24 / 14);
        text-decoration: none;
        @include transition();
    }

    &__link--white {
        color: $primary-white-color;
    }
    
    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }
}

