.join {

    @media screen and (max-width:($table - 1px)) {
            margin-bottom: 60px;
        }
    
    @media screen and (min-width:$desktop) {
            padding-top: 15px;
            margin-right: 93px;
        }

    &__text {
            color: $primary-white-color;
            font-weight: 700;
            text-transform: uppercase;
    
            margin-bottom: 20px;
        }

/* Социальные сети студии */

    &__link {
        color: $primary-white-color;
        background-color: $social-links-ft-bg-color;
    }


    &__link:hover,
    &__link:focus {
        background-color: $accent-color;
    }

}
