/* Подвал */
.page-footer {
    background-color: $primary-bg-color;

   &__content {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;

            @media screen and (min-width:$tablet) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            @media screen and (min-width:$desktop) {
                    text-align: left;
                }            
       
    }
}
