.subscription {
    padding-top: 15px;

    &__text {
            color: $primary-white-color;
            font-weight: 700;
            text-transform: uppercase;
    
            margin-bottom: 20px;
        }

    // &__box {
    //     @include centered-flex();
    // }


    &__input {
        color: $contacts-ft-color;
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.03em;
    
        width: 358px;
        height: 50px;
        background-color: $primary-bg-color;
        border: 1px solid $footer-subsription-input-border-color;
        border-radius: 4px;
    
        padding-left: 16px;
        margin-right: 12px;
    }

    &__input::placeholder {
        color: $contacts-ft-color;
    }

    &__button {
        // @include centered-flex($justify-content:space-between);
        padding: 10px 28px;
    }

    &__icon {
        fill: currentColor;
        width: 24px;
        height: 24px;
    }
}
